<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--sectionGroup name="customSectionGroups" type="UserServices.ConfigurationCommandLineRun.customSectionGroup"-->
    <!--section name="userSettings"  type="System.Configuration.ClientSettingsSection"/-->
    <!--/sectionGroup-->
	<!--section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/  UserServices.-->
     <!--section name="cmdrun"          type="UserServices.ConfigurationCMDRun.ValidatedCMRunSection, ConfigurationCMDRun, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
		allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" />  
     <section name="cmdrun2"          type="ValidatedCMRunSection, ConsoleNewThought, Version=1.0.0.0" />
     <section name="cmdrun3"          type="ValidatedCMRunSection, ConfigurationCMDRun" /-->
     <section name="CmdRunConfs"   type="UserServices.ConfigurationCMDRun.CommandLineRunSection, ConfigurationCMDRun " />
     <section name="cmdrun"        type="UserServices.ConfigurationCMDRun.ValidatedCMRunSection, ConfigurationCMDRun " />  
     <section name="CMDProperties" type="UserServices.ConfigurationCMDRun.CMDPropertySection, ConfigurationCMDRun " />
     <section name="CMDRunSpecifications" type="UserServices.ConfigurationCMDRun.CMDRunSpecificationSection, ConfigurationCMDRun " />

     <!-- allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" /-->
  </configSections>
      <cmdrun  myTimeSpan="8:15:00" maxCMD="10" maxProp="100" />
      <!-- Секция дополнительных параметров программы  "Подключаемые сборки подкоманд". -->
      <CmdRunConfs>
        <add  subcommand="parseDin" numberExecution="1" assemblyNameWithPath="..\CommandLinePlugIns\parseDinCommandLine\bin\Debug\netcoreapp3.1\parseCommandLine2.dll" description="" />
        <add  subcommand="parse"    numberExecution="4" assemblyNameWithPath="" description="" />
        <add  subcommand="test"     numberExecution="2" assemblyNameWithPath="" description="" />
        <add  subcommand="testDin"  numberExecution="3" assemblyNameWithPath="..\CommandLinePlugIns\testDinCommandLine\bin\Debug\netcoreapp3.1\testCommandLine2.dll" description="" />
      </CmdRunConfs>
     <!-- Секция дополнительных параметров программы  "Свойства и значения подкоманд". -->
      <CMDProperties>
        <add  subcommand="parse" nameProperty="project"          value="C:\work\project1"      description="корневая директория проекта" />
        <add  subcommand="parse" nameProperty="html_files"       value="C:\work\project1\html_files"   description="директория расположения HTML страниц" />
        <add  subcommand="parse" nameProperty="static_files"     value="C:\work\project1\static_files"  description="директория расположения статичных ресурсов" />
        <add  subcommand="parse" nameProperty="depthtransitions" value="3"                     description="Глубина переходов на внутренние страницы" />
        <add  subcommand="test" nameProperty="project"          value="C:\work\project1"      description="корневая директория проекта" />
        <add  subcommand="parseDin" nameProperty="project"          value="C:\work\project1"      description="корневая директория проекта" />
        <add  subcommand="parseDin" nameProperty="html_files"       value="C:\work\project1\html_files"   description="директория расположения HTML страниц" />
        <add  subcommand="parseDin" nameProperty="static_files"     value="C:\work\project1\static_files"  description="директория расположения статичных ресурсов" />
        <add  subcommand="parseDin" nameProperty="depthtransitions" value="3"                     description="Глубина переходов на внутренние страницы" />
        <add  subcommand="testDin" nameProperty="project"          value="C:\work\project1"      description="корневая директория проекта" />

      </CMDProperties>
	 <!-- Секция дополнительных параметров программы  "Подкоманды и спецификации". -->
      <CMDRunSpecifications>
        <add  subcommandLeft="parse" specification="XOR" subcommandRight="parseDin" description="" />
        <add  subcommandLeft="parse" specification="AND" subcommandRight="test"   description=""   />
        <add  subcommandLeft="parse" specification="AND" subcommandRight="testDin"  description=""  />
        <add  subcommandLeft="test"  specification="XOR" subcommandRight="testDin"  description=""  />
      </CMDRunSpecifications>

   <appSettings>
	    <add key="provider"  value="SQLiteContext"/>
	    <add key="provider2" value="AutoLotSqlProvider"/>
   </appSettings>

  <connectionStrings>
    <add name ="SQLiteContext" 
	connectionString ="Data Source=|DataDirectory|TestDB.sqlite" 
	providerName="System.Data.SQLite.EF6"/>
    <add name="AutoLotSqlProvider" 
	connectionString="Data Source=(local)\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=AutoLot"/>	
  </connectionStrings>

</configuration>